body { 
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: #031116;
  color: #e6e6e6;
  width: 800px;
  height: 800px;
}

ul {
  list-style-type: myanmar;
}

#logo {
  width: 500px;
  padding: 20px
}

h1 {
  font-size: 50px;
}

#input-section {
  border: 2px solid #3d4443;
  color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
}

#selections div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#selection-info {
  width: 100%;
}

.remove-btn {
  font-size: 20px;
  cursor: pointer;
  color: white
}

.error { 
  color: #ef4e7c; 
}

.container {
  width: 100%;
  height: 100%;
}

.warning {
  color: orange;
}

.success {
  color: #c2f2c4;
}

.btn-highlight {
  background-color: #545c48;
  color: white;
}

p {
  margin: 0 0 5px 0;
}

#progress {
  margin: 20px 0 20px;
  overflow-y: auto;
  max-height: 200px;
  font-size: 10px;
}

#result {
  margin: 20px;
  padding: 20px;
  border: 2px solid #3d4443;
  border-radius: 5px;
  width: 50%;
}

#progress {
  border: 1px #485c58 solid;
  margin: 20px;
  padding: 20px;
  border-radius: 2px;
}

#feature-list {
  margin: 20px;
  font-size: 20px;
  color: gray
}

.current-feature {
  color: white;
}

.radio-label {
  display: flex; 
  align-items: center; 
}

#start-actions button[hidden] {
  display: none;
}

#actions-section {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px 40px 40px;
}

#actions-section button {
  width: 200px;
  height: 50px;
  border: 2px solid #3d4443;
  background-color: rgba(29, 46, 41, .5);
  color: white;
  position: relative;
  display: inline-block;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-family: "Orbitron", sans-serif; 
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  cursor: pointer;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 #3d4443, 0 10px 0 #545c58;
  -moz-box-shadow: inset 0 1px 0 #3d4443, 0 10px 0 #545c58;
  box-shadow: inset 0 1px 0 #3d4443, 0 10px 0 #545c58;
  transition: background-color 0.3s, top 0.1s;
}

#actions-section button:hover {
  background-color: #485c58;
}

#actions-section button:active {
  top: 3px;
  background-color: #485c58;
  -webkit-box-shadow: inset 0 1px 0 #3d4443, inset 0 -3px 0 #545c58;
  -moz-box-shadow: inset 0 1px 0 #3d4443, inset 0 -3px 0 #545c58;
  box-shadow: inset 0 1px 0 #3d4443, inset 0 -3px 0 #545c58;
}


.radio-label input[type=radio] {
  appearance: none;
  width: 15px; 
  height: 15px; 
  border: 1px solid #043d42;
  background-color: black;
  border-radius: 50%;
  margin-right: 10px; 
}

.radio-label input[type=radio]:checked {
  background-color: #627c77;
}
.remove-btn {
  width: 20px;
  height: 20px;
  background-image: url('./assets/close-button.png');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: filter 0.3s;
}

.remove-btn:hover {
  filter: brightness(0.8) hue-rotate(360deg);
}


footer {
  font-size: 12px;
  margin-left: 20px;
  font-weight: 300;
}

footer div {
  display: flex;
  flex-direction: row;
}

footer a {
  color: #627c77;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s;
  margin-right: 10px;
}

footer a:hover {
  color: #dce7e5;
  opacity: 0.8;
}

.footer p,
.footer a,
.footer span {
  margin: 3px;
}
